@import url(https://fonts.googleapis.com/css?family=Oxygen:400,300,700);




body,
input,
textarea,
.mbr-company .list-group-text {
  font-family: 'Oxygen', sans-serif;
}
.mbr-footer-content li,
.mbr-footer .mbr-contacts li {
  font-family: 'Oxygen', sans-serif;
}
.btn,
.alert,
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
.display-1,
.display-2,
.display-3,
.display-4,
.mbr-figure .mbr-figure-caption,
.mbr-gallery-title,
.mbr-map [data-state-details],
.mbr-price {
  font-family: 'Oxygen', sans-serif;
}
.mbr-footer-content h1,
.mbr-footer .mbr-contacts h1,
.mbr-footer-content h2,
.mbr-footer .mbr-contacts h2,
.mbr-footer-content h3,
.mbr-footer .mbr-contacts h3,
.mbr-footer-content h4,
.mbr-footer .mbr-contacts h4,
.mbr-footer-content p strong,
.mbr-footer .mbr-contacts p strong,
.mbr-footer-content strong,
.mbr-footer .mbr-contacts strong {
  font-family: 'Oxygen', sans-serif;
}
.btn {
  border-radius: 1.6em;
}
.mbr-subscribe .btn {
  border-radius: 1.6em !important;
}
.btn-sm,
.lead a,
.lead blockquote,
.mbr-section-subtitle,
.mbr-section-hero .mbr-section-lead,
.mbr-cards .card-subtitle,
.mbr-testimonial .card-block {
  font-family: 'Oxygen', sans-serif;
  font-style: normal;
}
.mbr-author-name {
  font-family: 'Oxygen', sans-serif;
}
.mbr-author-desc {
  font-family: 'Oxygen', sans-serif;
  font-style: normal;
}
.mbr-plan-title {
  font-family: 'Oxygen', sans-serif;
}
.mbr-plan-subtitle,
.mbr-plan-price-desc {
  font-family: 'Oxygen', sans-serif;
  font-style: normal;
}
.bg-primary {
  background-color: #2969b0 !important;
}
.bg-success {
  background-color: #3d8eb9 !important;
}
.bg-info {
  background-color: #00a885 !important;
}
.bg-warning {
  background-color: #7e9b9f !important;
}
.bg-danger {
  background-color: #cccccc !important;
}
.btn-primary {
  background-color: #2969b0;
  border-color: #2969b0;
  color: #ffffff;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary:active,
.btn-primary.active {
  color: #ffffff;
  background-color: #1b4472;
  border-color: #1b4472;
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #ffffff !important;
  background-color: #1b4472 !important;
  border-color: #1b4472 !important;
}
.btn-secondary {
  background-color: #2969b0;
  border-color: #2969b0;
  color: #ffffff;
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus,
.btn-secondary:active,
.btn-secondary.active {
  color: #ffffff;
  background-color: #1b4472;
  border-color: #1b4472;
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #ffffff !important;
  background-color: #1b4472 !important;
  border-color: #1b4472 !important;
}
.btn-info {
  background-color: #00a885;
  border-color: #00a885;
  color: #ffffff;
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus,
.btn-info:active,
.btn-info.active {
  color: #ffffff;
  background-color: #005c48;
  border-color: #005c48;
}
.btn-info.disabled,
.btn-info:disabled {
  color: #ffffff !important;
  background-color: #005c48 !important;
  border-color: #005c48 !important;
}
.btn-success {
  background-color: #3d8eb9;
  border-color: #3d8eb9;
  color: #ffffff;
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus,
.btn-success:active,
.btn-success.active {
  color: #ffffff;
  background-color: #2a627f;
  border-color: #2a627f;
}
.btn-success.disabled,
.btn-success:disabled {
  color: #ffffff !important;
  background-color: #2a627f !important;
  border-color: #2a627f !important;
}
.btn-warning {
  background-color: #7e9b9f;
  border-color: #7e9b9f;
  color: #ffffff;
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus,
.btn-warning:active,
.btn-warning.active {
  color: #ffffff;
  background-color: #597478;
  border-color: #597478;
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #ffffff !important;
  background-color: #597478 !important;
  border-color: #597478 !important;
}
.btn-danger {
  background-color: #cccccc;
  border-color: #cccccc;
  color: #ffffff;
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus,
.btn-danger:active,
.btn-danger.active {
  color: #ffffff;
  background-color: #a6a6a6;
  border-color: #a6a6a6;
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #ffffff !important;
  background-color: #a6a6a6 !important;
  border-color: #a6a6a6 !important;
}
.btn-primary-outline {
  background: none;
  border-color: #16385d;
  color: #16385d;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus,
.btn-primary-outline:active,
.btn-primary-outline.active {
  color: #ffffff;
  background-color: #2969b0;
  border-color: #2969b0;
}
.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
  color: #ffffff !important;
  background-color: #2969b0 !important;
  border-color: #2969b0 !important;
}
.btn-secondary-outline {
  background: none;
  border-color: #16385d;
  color: #16385d;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus,
.btn-secondary-outline:active,
.btn-secondary-outline.active {
  color: #ffffff;
  background-color: #2969b0;
  border-color: #2969b0;
}
.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
  color: #ffffff !important;
  background-color: #2969b0 !important;
  border-color: #2969b0 !important;
}
.btn-info-outline {
  background: none;
  border-color: #004234;
  color: #004234;
}
.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus,
.btn-info-outline:active,
.btn-info-outline.active {
  color: #ffffff;
  background-color: #00a885;
  border-color: #00a885;
}
.btn-info-outline.disabled,
.btn-info-outline:disabled {
  color: #ffffff !important;
  background-color: #00a885 !important;
  border-color: #00a885 !important;
}
.btn-success-outline {
  background: none;
  border-color: #24536c;
  color: #24536c;
}
.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus,
.btn-success-outline:active,
.btn-success-outline.active {
  color: #ffffff;
  background-color: #3d8eb9;
  border-color: #3d8eb9;
}
.btn-success-outline.disabled,
.btn-success-outline:disabled {
  color: #ffffff !important;
  background-color: #3d8eb9 !important;
  border-color: #3d8eb9 !important;
}
.btn-warning-outline {
  background: none;
  border-color: #4e6669;
  color: #4e6669;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus,
.btn-warning-outline:active,
.btn-warning-outline.active {
  color: #ffffff;
  background-color: #7e9b9f;
  border-color: #7e9b9f;
}
.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
  color: #ffffff !important;
  background-color: #7e9b9f !important;
  border-color: #7e9b9f !important;
}
.btn-danger-outline {
  background: none;
  border-color: #999999;
  color: #999999;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus,
.btn-danger-outline:active,
.btn-danger-outline.active {
  color: #ffffff;
  background-color: #cccccc;
  border-color: #cccccc;
}
.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
  color: #ffffff !important;
  background-color: #cccccc !important;
  border-color: #cccccc !important;
}
.text-primary {
  color: #2969b0 !important;
}
.text-success {
  color: #3d8eb9 !important;
}
.text-info {
  color: #00a885 !important;
}
.text-warning {
  color: #7e9b9f !important;
}
.text-danger {
  color: #cccccc !important;
}
.alert-success {
  background-color: #3d8eb9;
}
.alert-info {
  background-color: #00a885;
}
.alert-warning {
  background-color: #7e9b9f;
}
.alert-danger {
  background-color: #cccccc;
}
.btn-social {
  border-color: #2969b0;
}
.btn-social:hover {
  background: #2969b0;
}
.mbr-company .list-group-item.active .list-group-text {
  color: #2969b0;
}
.mbr-footer p a,
.mbr-footer ul a {
  color: #2969b0;
}
.mbr-footer-content li::before,
.mbr-footer .mbr-contacts li::before {
  background: #2969b0;
}
.mbr-footer-content li a:hover,
.mbr-footer .mbr-contacts li a:hover {
  color: #2969b0;
}
.lead a,
.lead a:hover {
  color: #2969b0;
}
.lead blockquote {
  border-color: #2969b0;
}
.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: #79aae0;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #98c5dd;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: #28ffd2;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: #c7d4d5;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-small-footer a,
.mbr-gallery-filter li:hover {
  color: #2969b0;
}
.extCountdown1 .number,
.extCountdown2 .number {
  font-family: 'Oxygen', sans-serif;
}
.extCountdown1 .period,
.extCountdown2 .period {
  font-family: 'Oxygen', sans-serif;
  font-style: normal;
}
.extCountdown1 .dot,
.extCountdown2 .dot {
  font-family: 'Oxygen', sans-serif;
}
.features6 .feature-subtitle {
  font-family: 'Oxygen', sans-serif;
  font-style: normal;
}
.features6 .feature-title {
  font-family: 'Oxygen', sans-serif;
}
.features6 .description {
  font-family: 'Oxygen', sans-serif;
}
.count,
.counter-title {
  font-family: 'Oxygen', sans-serif;
}
.counter-subtitle {
  font-family: 'Oxygen', sans-serif;
  font-style: normal;
}
.mbr-iconfont-counters1 {
  color: #2969b0;
}
.extHeader1 .container h3,
.extHeader2 .container h3,
.extHeader3 .container h3,
.extHeader5 .container h3,
.extHeader6 .container h3,
.extHeader7 .container h3,
.extHeader8 .container h3,
.extHeader9 .container h3,
.extHeader10 .container h3,
.extHeader12 .container h3,
.extHeader13 .container h3,
.extFeatures10 .container h3 {
  font-family: 'Oxygen', sans-serif;
}
.extHeader1 .container p,
.extHeader2 .container p,
.extHeader3 .container p,
.extHeader5 .container p,
.extHeader6 .container p,
.extHeader7 .container p,
.extHeader8 .container p,
.extHeader9 .container p,
.extHeader10 .container p,
.extHeader12 .container p,
.extHeader13 .container p,
.extFeatures10 .container p {
  font-family: 'Oxygen', sans-serif;
  font-style: normal;
}
.extHeader5 .container label {
  font-family: 'Oxygen', sans-serif;
  font-style: normal;
}
.extHeader9 form p.form-subtitle {
  font-family: 'Oxygen', sans-serif;
}
.extHeader11 .container span {
  font-family: 'Oxygen', sans-serif;
}
.extHeader11 .container p.element {
  font-family: 'Oxygen', sans-serif;
}
.extHeader11 .container p {
  font-family: 'Oxygen', sans-serif;
  font-style: normal;
}
.extHeader12 h4,
.extFeatures10 h4 {
  font-family: 'Oxygen', sans-serif;
}
.extHeader12 .subtitle,
.extFeatures10 .subtitle {
  font-family: 'Oxygen', sans-serif;
  font-style: normal;
}
.extHeader13 h4 {
  font-family: 'Oxygen', sans-serif;
}
.extHeader13 .number {
  font-family: 'Oxygen', sans-serif;
}
.extHeader13 .period {
  font-family: 'Oxygen', sans-serif;
  font-style: normal;
}
.extHeader13 .dot {
  font-family: 'Oxygen', sans-serif;
}
.extFeatures .feature-title {
  font-family: 'Oxygen', sans-serif;
}
.extFeatures .feature-subtitle {
  font-family: 'Oxygen', sans-serif;
  font-style: normal;
}
.extFeatures .feature-text {
  font-family: 'Oxygen', sans-serif;
}
.extFeatures2 h4 {
  font-family: 'Oxygen', sans-serif;
}
.extFeatures3 .border-wrap {
  border-color: #2969b0;
}
.extFeatures4 h4,
.extFeatures6 h4,
.extFeatures5 .card-title h4 {
  font-family: 'Oxygen', sans-serif;
}
.extFeatures4 h5,
.extFeatures6 h5,
.extFeatures5 .card-title h5 {
  font-family: 'Oxygen', sans-serif;
  font-style: normal;
}
.extForm1 h4,
.extForm2 h4,
.extForm3 h4,
.extForm4 h4 {
  font-family: 'Oxygen', sans-serif;
}
.extForm1 .subtitle,
.extForm2 .subtitle,
.extForm3 .subtitle,
.extForm4 .subtitle {
  font-family: 'Oxygen', sans-serif;
  font-style: normal;
}
.extForm2 .container h3 {
  font-family: 'Oxygen', sans-serif;
}
.extForm2 .container p {
  font-family: 'Oxygen', sans-serif;
  font-style: normal;
}
.extPricingTable1 .bottom_line {
  border-bottom-color: #2969b0;
}
.extPricingTable1 .mbr-price small {
  font-family: 'Oxygen', sans-serif;
  font-style: normal;
}
.extPricingTable1 .mbr-plan-label {
  background: #2969b0;
}
.extCounters2 h4 {
  font-family: 'Oxygen', sans-serif;
}
.extCounters2 h5 {
  font-family: 'Oxygen', sans-serif;
  font-style: normal;
}
.extCounters3 .count {
  font-family: 'Oxygen', sans-serif;
}
.extCounters3 .counter-title {
  font-family: 'Oxygen', sans-serif;
}
.extCounters3 .counter-subtitle {
  font-family: 'Oxygen', sans-serif;
  font-style: normal;
}
.extProgressBar .progress-primary[value]::-webkit-progress-value {
  background-color: #2969b0;
}
.extProgressBar .progress-primary[value]::-moz-progress-bar {
  background-color: #2969b0;
}
@media screen and (min-width: 0\0) {
  .extProgressBar .progress-primary .progress-bar {
    background-color: #2969b0;
  }
}
.extProgressBar .title-wrap {
  font-family: 'Oxygen', sans-serif;
  font-style: normal;
}
.extProgressBarRound .progress-radial .overlay {
  font-family: 'Oxygen', sans-serif;
}
.extProgressBar4 .feature-title {
  font-family: 'Oxygen', sans-serif;
}
.extProgressBar4 .feature-subtitle {
  font-family: 'Oxygen', sans-serif;
  font-style: normal;
}
.extTabs1 ul.nav-tabs li a:hover,
.extTabs2 ul.nav-tabs li a:hover {
  color: #2969b0;
}
.extAccordion1 .panel-heading a {
  font-family: 'Oxygen', sans-serif;
}
.extAccordion1 .pseudoPlus,
.extAccordion2 .pseudoPlus,
.extToggle1 .pseudoPlus,
.extAccordion1 .pseudoPlus:after,
.extAccordion2 .pseudoPlus:after,
.extToggle1 .pseudoPlus:after,
.extAccordion1 .pseudoMinus,
.extAccordion2 .pseudoMinus,
.extToggle1 .pseudoMinus {
  background-color: #2969b0;
}
.extAccordion2 .panel-heading a,
.extAccordion3 .panel-heading a,
.extToggle1 .panel-heading a {
  font-family: 'Oxygen', sans-serif;
}
.extProgressBar5 .progress-primary[value]::-webkit-progress-value {
  background-color: #2969b0;
}
.extProgressBar5 .progress-primary[value]::-moz-progress-bar {
  background-color: #2969b0;
}
@media screen and (min-width: 0\0) {
  .extProgressBar5 .progress-primary .progress-bar {
    background-color: #2969b0;
  }
}
.extProgressBar5 .title-wrap {
  font-family: 'Oxygen', sans-serif;
  font-style: normal;
}
.extMsg-box1 .container h3 {
  font-family: 'Oxygen', sans-serif;
}
.extMsg-box1 .container p {
  font-family: 'Oxygen', sans-serif;
  font-style: normal;
}
.extMsg-box1 h4 {
  font-family: 'Oxygen', sans-serif;
}
.extMsg-box1 .subtitle {
  font-family: 'Oxygen', sans-serif;
  font-style: normal;
}
.extMsg-box2 .container span,
.extMsg-box3 .container span,
.extMsg-box4 .container span {
  font-family: 'Oxygen', sans-serif;
}
.extMsg-box2 .container p,
.extMsg-box3 .container p,
.extMsg-box4 .container p {
  font-family: 'Oxygen', sans-serif;
  font-style: normal;
}
.extProgressBarRound .pie_progress__number {
  font-family: 'Oxygen', sans-serif;
}
.extMenu1 span.icon a:hover {
  color: #2969b0 !important;
}
.extProgressBar .progress-primary[value]::-ms-fill {
  color: #2969b0;
}
.extProgressBar5 .progress-primary[value]::-ms-fill {
  color: #2969b0;
}
.theme-border {
  border: 1px solid #2969b0;
}
#menu-2 .hide-buttons .nav-btn {
  display: none !important;
}
#menu-2 .navbar-caption {
  color: #ffffff;
}
#menu-2 .navbar-toggler {
  color: #ffffff;
}
#menu-2 .close-icon::before,
#menu-2 .close-icon::after {
  background-color: #ffffff;
}
#menu-2 .link,
#menu-2 .dropdown-item {
  color: #ffffff;
  font-family: 'Oxygen', sans-serif;
}
#menu-2 .link {
  font-size: 0.9rem;
}
#menu-2 .dropdown-item,
#menu-2 .nav-dropdown-sm .link {
  font-size: 0.975rem;
}
#menu-2 .link:hover,
#menu-2 .dropdown-item:hover,
#menu-2 .link:focus,
#menu-2 .dropdown-item:focus {
  color: #2969b0;
}
#menu-2 .link[aria-expanded="true"],
#menu-2 .dropdown-menu {
  background: #1f5087;
}
#menu-2 .nav-dropdown-sm .link:focus,
#menu-2 .nav-dropdown-sm .link:hover,
#menu-2 .nav-dropdown-sm .dropdown-item:focus,
#menu-2 .nav-dropdown-sm .dropdown-item:hover {
  background: #2662a4!important;
}
#menu-2 .navbar,
#menu-2 .nav-dropdown-sm,
#menu-2 .nav-dropdown-sm .link[aria-expanded="true"],
#menu-2 .nav-dropdown-sm .dropdown-menu {
  background: #2969b0;
}
#menu-2 .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu-2 .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-2 .bg-color.transparent.opened .link:hover,
#menu-2 .bg-color.transparent.opened .link:focus {
  color: #2969b0;
}
#menu-2 .link[aria-expanded="true"],
#menu-2 .dropdown-item[aria-expanded="true"] {
  color: #2969b0!important;
}
#menu-2 A {
  font-size: 16px;
}
#extCounters1-8 .mbr-section-title {
  color: #fff;
}
#extCounters1-8 H2 {
  font-size: 20px;
}
#extCounters1-c .mbr-section-title {
  color: #fff;
}
#extCounters1-c H2 {
  font-size: 20px;
}
#extHeader3-10 P {
  text-align: center;
  font-size: 20px;
  color: #ffffff;
}
#extHeader3-10 H3 {
  color: #ffffff;
  font-size: 60px;
}
#extHeader3-10 .etl-icon {
  color: #ffffff !important;
  border-color: #ffffff;
}
#extHeader3-10 .features-list i {
  color: #ffffff !important;
  border-color: #ffffff;
}
#extHeader3-10 H5 {
  font-size: 20px;
}
#extHeader3-10 .btn {
  font-size: 16px;
}
#msg-box8-2v .mbr-section-title,
#msg-box8-2v p {
  color: #fff;
}
#msg-box8-2v .mbr-section-title {
  color: #ffffff;
}
#msg-box8-2v .lead P {
  color: #ffffff;
}
#features3-i .btn {
  font-size: 16px;
}
#features3-v .btn {
  font-size: 16px;
}
#msg-box8-20 .mbr-section-title,
#msg-box8-20 p {
  color: #fff;
}
#msg-box8-20 .lead P {
  font-size: 20px;
}
#msg-box8-20 .mbr-section-title {
  font-size: 60px;
}
#extFeatures9-d H4 {
  color: #2969b0;
  font-size: 20px;
}
#extFeatures9-d .mbr-section-title {
  color: #28324e;
}
#extFeatures9-d P {
  font-size: 16px;
}
#extFeatures9-e H4 {
  color: #41a85f;
  font-size: 20px;
}
#extFeatures9-e P {
  font-size: 16px;
}
#extFeatures9-f H4 {
  color: #3d8eb9;
  font-size: 20px;
}
#extFeatures9-f P {
  font-size: 16px;
}
#msg-box8-1z .mbr-section-title,
#msg-box8-1z p {
  color: #fff;
}
#msg-box8-1z .lead P {
  font-size: 20px;
}
#msg-box8-1z .mbr-section-title {
  font-size: 60px;
}
#features1-12 .striped .mbr-cards-col:nth-child(2n+1) {
  background-color: #00a885;
}
#features1-12 .mbr-cards-col:nth-child(odd) .card-subtitle {
  color: #cccccc;
}
#features1-12 .mbr-cards-col:nth-child(odd) .card-text {
  text-align: center;
}
#features1-12 .btn {
  font-size: 16px;
}
#msg-box8-24 .mbr-section-title,
#msg-box8-24 p {
  color: #fff;
}
#msg-box8-24 .btn {
  font-size: 16px;
}
#msg-box8-21 .mbr-section-title,
#msg-box8-21 p {
  color: #fff;
}
#msg-box8-21 .lead P {
  font-size: 20px;
}
#msg-box8-21 .mbr-section-title {
  font-size: 60px;
}
#features3-22 .btn {
  font-size: 16px;
}
#msg-box8-23 .mbr-section-title,
#msg-box8-23 p {
  color: #fff;
}
#msg-box8-23 .btn {
  font-size: 16px;
}
#extTestimonials5-w .mbr-section-subtitle {
  text-align: left;
  color: #28324e;
  font-size: 20px;
}
#contacts4-1t P {
  color: #ffffff;
  font-size: 16px;
}
#contacts4-1t B {
  color: #ffffff;
}
#social-buttons2-1c .mbr-section-title,
#social-buttons2-1c .btn-social {
  color: #232323;
}
#social-buttons2-1c .mbr-section-title {
  font-size: 20px;
  color: #ffffff;
}
#extFooter1-2r UL {
  color: #ffffff;
}

#menu-15 .hide-buttons .nav-btn {
  display: none !important;
}
#menu-15 .navbar-caption {
  color: #ffffff;
}
#menu-15 .navbar-toggler {
  color: #ffffff;
}
#menu-15 .close-icon::before,
#menu-15 .close-icon::after {
  background-color: #ffffff;
}
#menu-15 .link,
#menu-15 .dropdown-item {
  color: #ffffff;
  font-family: 'Oxygen', sans-serif;
}
#menu-15 .link {
  font-size: 0.9rem;
}
#menu-15 .dropdown-item,
#menu-15 .nav-dropdown-sm .link {
  font-size: 0.975rem;
}
#menu-15 .link:hover,
#menu-15 .dropdown-item:hover,
#menu-15 .link:focus,
#menu-15 .dropdown-item:focus {
  color: #2969b0;
}
#menu-15 .link[aria-expanded="true"],
#menu-15 .dropdown-menu {
  background: #1f5087;
}
#menu-15 .nav-dropdown-sm .link:focus,
#menu-15 .nav-dropdown-sm .link:hover,
#menu-15 .nav-dropdown-sm .dropdown-item:focus,
#menu-15 .nav-dropdown-sm .dropdown-item:hover {
  background: #2662a4!important;
}
#menu-15 .navbar,
#menu-15 .nav-dropdown-sm,
#menu-15 .nav-dropdown-sm .link[aria-expanded="true"],
#menu-15 .nav-dropdown-sm .dropdown-menu {
  background: #2969b0;
}
#menu-15 .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu-15 .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-15 .bg-color.transparent.opened .link:hover,
#menu-15 .bg-color.transparent.opened .link:focus {
  color: #2969b0;
}
#menu-15 .link[aria-expanded="true"],
#menu-15 .dropdown-item[aria-expanded="true"] {
  color: #2969b0!important;
}
#menu-15 A {
  font-size: 16px;
}
#msg-box8-2p .mbr-section-title,
#msg-box8-2p p {
  color: #fff;
}
#msg-box8-2n .mbr-section-title,
#msg-box8-2n p {
  color: #fff;
}
#msg-box8-26 .mbr-section-title,
#msg-box8-26 p {
  color: #fff;
}
#msg-box8-29 .mbr-section-title,
#msg-box8-29 p {
  color: #fff;
}
#msg-box8-2b .mbr-section-title,
#msg-box8-2b p {
  color: #fff;
}
#msg-box8-2d .mbr-section-title,
#msg-box8-2d p {
  color: #fff;
}
#msg-box8-2f .mbr-section-title,
#msg-box8-2f p {
  color: #fff;
}
#msg-box8-2l .mbr-section-title,
#msg-box8-2l p {
  color: #fff;
}

#menu-1e .hide-buttons .nav-btn {
  display: none !important;
}
#menu-1e .navbar-caption {
  color: #ffffff;
}
#menu-1e .navbar-toggler {
  color: #ffffff;
}
#menu-1e .close-icon::before,
#menu-1e .close-icon::after {
  background-color: #ffffff;
}
#menu-1e .link,
#menu-1e .dropdown-item {
  color: #ffffff;
  font-family: 'Oxygen', sans-serif;
}
#menu-1e .link {
  font-size: 0.9rem;
}
#menu-1e .dropdown-item,
#menu-1e .nav-dropdown-sm .link {
  font-size: 0.975rem;
}
#menu-1e .link:hover,
#menu-1e .dropdown-item:hover,
#menu-1e .link:focus,
#menu-1e .dropdown-item:focus {
  color: #2969b0;
}
#menu-1e .link[aria-expanded="true"],
#menu-1e .dropdown-menu {
  background: #1f5087;
}
#menu-1e .nav-dropdown-sm .link:focus,
#menu-1e .nav-dropdown-sm .link:hover,
#menu-1e .nav-dropdown-sm .dropdown-item:focus,
#menu-1e .nav-dropdown-sm .dropdown-item:hover {
  background: #2662a4!important;
}
#menu-1e .navbar,
#menu-1e .nav-dropdown-sm,
#menu-1e .nav-dropdown-sm .link[aria-expanded="true"],
#menu-1e .nav-dropdown-sm .dropdown-menu {
  background: #2969b0;
}
#menu-1e .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu-1e .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-1e .bg-color.transparent.opened .link:hover,
#menu-1e .bg-color.transparent.opened .link:focus {
  color: #2969b0;
}
#menu-1e .link[aria-expanded="true"],
#menu-1e .dropdown-item[aria-expanded="true"] {
  color: #2969b0!important;
}
#menu-1e A {
  font-size: 16px;
}
#msg-box2-1h .mbr-section-title {
  color: #fff;
  text-align: left;
}
#msg-box2-1h .mbr-section-subtitle {
  color: #ffffff;
  text-align: left;
}
#header3-1i .mbr-section-title,
#header3-1i .mbr-section-subtitle {
  text-align: center;
}
#header3-1i .mbr-section-title {
  color: #2969b0;
}
#header3-1j .mbr-section-title,
#header3-1j .mbr-section-subtitle {
  text-align: center;
}
#header3-1j .mbr-section-title {
  color: #00a885;
}
#header3-1k .mbr-section-title,
#header3-1k .mbr-section-subtitle {
  text-align: center;
}
#header3-1k .mbr-section-title {
  color: #3d8eb9;
}
#header3-1l .mbr-section-title,
#header3-1l .mbr-section-subtitle {
  text-align: center;
}
#header3-1l .mbr-section-title {
  color: #28324e;
}
#header3-1m .mbr-section-title,
#header3-1m .mbr-section-subtitle {
  text-align: center;
}
#header3-1m .mbr-section-title {
  color: #666666;
}
